@use "base.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
}

.App.light-mode {
  @include base.theme(base.$light-mode...);
}

.App.dark-mode {
  @include base.theme(base.$dark-mode...);
}

.form-check-input {
  cursor: pointer;
}

@import "~bootstrap/scss/bootstrap";