@use "sass:map";

@mixin theme ($background, $text) {
    background-color: $background;
    border: none;
    box-shadow: none;
    color: $text;
}

@mixin theme-reversed ($background, $text, $secondary-colour) {
    background-color: $background;
    border: none;
    box-shadow: none;
    color: $text;
    cursor: pointer;

    &:hover {
        color: $secondary-colour;
        transition: color 0.5s;
    }
}

$light-mode: #FBFBFB, #7A7A7A;

$dark-mode: #172A3A, #FBFBFB;

$light-mode-reversed: #F7EDE2, #7A7A7A, #395C6B;

$dark-mode-reversed: #395C6B, #FBFBFB, #E1E1E1;

@mixin status ($background) {
    background-color: $background;
}

$status-colours: (
    "error": #E07A5F,
    "warning": #F2CC72,
    "success": #9FB798
);

$theme-colours: (
    "navy": rgba(23, 42, 58, 1),
    "white": rgba(251, 251, 251, 1),
    "beige": rgba(247, 237, 226, 1),
    "blue": rgba(57, 92, 107, 1),
    "light-secondary": #172A3A,
    "dark-secondary": #E1E1E1,
    "secondary-text": rgba(33, 37, 41, 0.75),
    "light-text": #7A7A7A
);
