@use "base.scss";

.light-mode.dashboard {

    .card {
        @include base.theme(base.$light-mode-reversed...);
    }

    .accordion-button {
        color: map-get(base.$theme-colours, "navy")
    }


}

.dark-mode.dashboard {

    .card {
        @include base.theme(base.$dark-mode-reversed...);
    }

    .accordion-button {
        color: map-get(base.$theme-colours, "white")
    }

}

.title > h2 {
    text-align: center;

}

.col {
    padding-bottom: 12px;
    padding-top: 12px;
}

.card {
    border: none;
    text-align: center;

    .card-title {
        padding-top: 5px;
    }
    
    .card-img-top {
        padding: 5px;
    }

}

.accordion {

    .accordion-button {
        box-shadow: none;
        font-weight: 500;
    }

    .accordion-button::after {
        background-image: var(--bs-accordion-btn-icon);
    }
    
    .accordion-item {
        border: none;
    }
    
    .error > .accordion-button {
        @include base.status(map-get(base.$status-colours, "error"))
    }
    
    .warning > .accordion-button {
        @include base.status(map-get(base.$status-colours, "warning"))
    }
    
    .success > .accordion-button {
        @include base.status(map-get(base.$status-colours, "success"))
    }
}
