@use "base.scss";

.light-mode.dashboard {

    .card {
        @include base.theme(base.$light-mode-reversed...);
    }

    .accordion-button {
        color: map-get(base.$theme-colours, "navy")
    }


}

.dark-mode.dashboard {

    .card {
        @include base.theme(base.$dark-mode-reversed...);
    }

    .accordion-button {
        color: map-get(base.$theme-colours, "white")
    }

}

.title > h2 {
    text-align: center;

}

.col {
    padding-bottom: 12px;
    padding-top: 12px;
}

.card {
    border: none;
    text-align: center;

    .card-title {
        padding-top: 15px;
    }
    
    .card-body {
        height: 325px;
    }

}

.accordion {
    
    .accordion-button {
        height: 60px;
        box-shadow: none;
    }

    .accordion-button::after {
        background-image: var(--bs-accordion-btn-icon);
    }
    
    .accordion-item {
        border: none;
    }
    
    .error > .accordion-button {
        @include base.status(map-get(base.$status-colours, "error"))
    }
    
    .warning > .accordion-button {
        @include base.status(map-get(base.$status-colours, "warning"))
    }
    
    .success > .accordion-button {
        @include base.status(map-get(base.$status-colours, "success"))
    }
}


.date-range {

    &#start-date-range {
        text-align: right;
    }

    &#end-date-range {
        text-align: left;
    }

    #start-date, #end-date {
        @include base.theme(base.$light-mode-reversed...);
        padding: 3px 7px 3px 7px;
        border-radius: 10px;
        outline: none;
    }


}