@use 'base.scss';

.footer {
    height: 125px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .links {
        justify-content: center;
        color: map-get(base.$theme-colours, "blue");
        font-size: 15px;

        .nav-link {
            width: 150px;
            text-align: center;
            margin: 0;
        }
    }

    .navbar-brand {
        margin: 0 auto 10px auto;
        color: map-get(base.$theme-colours, "blue");
        font-size: 15px;
    }

    .footer-logo {
        height: 44px;
        width: 44px;
        margin-left: 10px;
        fill: map-get(base.$theme-colours, "blue");
    }
}