@use "base.scss";

.menu {
    .form-select {
        height: 100px;
    }

    .units > .form-control, .units > div, .ingredients > .form-check{
        height: 30px;
        width: 150px;
        margin-bottom: 10px;
    }
}