@use "base.scss";

.menu.light-mode {
    @include base.theme(base.$light-mode...);
    
    .card-body {
        @include base.theme-reversed(base.$light-mode-reversed...);
    }

}

.menu.dark-mode {
    @include base.theme(base.$dark-mode...);
    
    .card-body {
        @include base.theme-reversed(base.$dark-mode-reversed...);
    }

}

.menu {

    .title {
        text-align: center;
    }
    
    .card-body {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        height: 400px;
        
        .card-title, .card-text {
            text-align: center;
        }

    }

    .btn {
        background-color: map-get(base.$status-colours, "success");
        border: none;

        &:hover {
            color: map-get(base.$theme-colours, "light-secondary");
        }
    }
}