@use "base.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.light-mode.navbar {
    @include base.theme(base.$light-mode...);

    .theme-toggle {
        // background-color: map-get(base.$theme-colours, "beige");
        background-color: transparent;
    }

    .nav-link:hover {
        color: map-get(base.$theme-colours, "dark-secondary");
        
    }

    .logo {
        fill: map-get(base.$theme-colours, "light-text");
    }

}

.dark-mode.navbar {
    @include base.theme(base.$dark-mode...);

    .theme-toggle {
        // background-color: map-get(base.$theme-colours, "dark-secondary");
        background-color: transparent;
    }

    .nav-link:hover {
        color: map-get(base.$theme-colours, "blue");
    }

    .logo {
        fill: map-get(base.$theme-colours, "beige");
    }

}


.navbar-brand {
    color: inherit;
    border: none;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    text-decoration: underline dotted;
    text-underline-offset: 8px;

    .logo {
        height: 44px;
        width: 44px;
        margin-left: 10px;
    }
}

.navbar-toggler, .navbar-toggler:focus {
    width: 60px;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.navbar-collapse {
    justify-content: space-around;
    text-align: center;
}

.nav-link{
    padding: 4px;
    border-radius: 3em;
    width: 100px;
    margin: auto;

}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

.theme-toggle {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    position: relative;

    
    
    .theme-icon {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 24px;
        height: 24px;
        
        
        &.light {
            fill: map-get(base.$status-colours, "warning");
            transition: 0.5s ease;

            &:hover {
                fill: map-get(base.$theme-colours , "light-text");
            }
        }

        &.dark {
            fill: map-get(base.$theme-colours, "white"); 
            transition: 0.5s ease;
            &:hover {
                fill: map-get(base.$theme-colours , "light-text");
            }
            
        }

        &.fade-in {
            animation: fade-in 1.5s ease;
        }

        &.fade-out {
            display: none;
            animation: fade-out 1.5s ease;
        }

    }
}

