@use "base.scss";

.register.light-mode, .login.light-mode {
    .register-link > .btn {
        color: map-get(base.$theme-colours , "secondary-text");
    }
}

.register, .login {
    padding: 20px 10%;

    .title {
        text-align: center;
    }

    .group {
        margin-bottom: 15px;
    }

    .submit {
        width: 100%;
        justify-content: center;
        margin: 0;

        .submit-button {
            width: 100px;
            background-color: map-get(base.$status-colours, "success");
            border: none;
        }
    }

    .register-link > .btn {
        background-color: transparent;
        border: none;
        text-decoration: underline;
    }

}