@use "base.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Fira+Sans:wght@900&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


html, body {
  height: fit-content;
  transition: 0.5s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    min-height: 100vh;
    position: relative;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: map-get(base.$themes, "soft-black");

    // Containers
    .page {
        min-height: calc(100vh - 194.5px);
    }

    // Headers
    h2.title {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin-top: 24px;
        font-weight: 600;
        font-size: 1.5rem;
    }

    h3.title {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin-top: 24px;
        font-weight: 600;
        font-size: 1.2rem;
    }

    h4.title {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 0.9rem;
    }

    // Buttons
    .button {
        width: fit-content;
        border-radius: 18px;
        border: none;
        margin-bottom: 12px;

        &:focus {
        box-shadow: none;
        }
    }

    .btn-close:focus {
        box-shadow: none !important;
    }

    // Links
    .link-container {
        display: flex;
        justify-content: center;
    }

    .link {
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: inherit;
        text-align: center;
    }

    
    // Inputs
    .form-control {
        border: none;
    }
    
    .form-check-input {
        cursor: pointer;
    }

    .form-check-input:checked {
        background-color: map-get(base.$themes, "green") !important;
        border: none;
    }
}


.App.light-mode {
    @include base.theme(base.$light-mode...);

    .button {
        background-color: map-get(base.$themes, "blue");

        &:hover {
            background-color: map-get(base.$themes, "mid-blue");
        }
    }
}

.App.dark-mode {
    @include base.theme(base.$dark-mode...);

    .button {
        background-color: map-get(base.$themes, "light-yellow");
        color: map-get(base.$themes, "soft-black");

        &:hover {
            background-color: map-get(base.$themes, "beige");
        }
    }


}

@import "~bootstrap/scss/bootstrap";