@use "sass:map";

$themes: (
    "navy": #172A3A,
    "white": #FBFBFB,
    "beige": #F7EDE2,
    "blue": #395c6b,
    "off-white": #E1E1E1,
    "grey": #212529,
    "light-grey": #7A7A7A,
    "red": #E07A5F,
    "yellow": #F2CC8F,
    "green": #9FB798,
    "light-yellow": #F3ECD2
);

@mixin theme ($background, $text) {
    background-color: $background;
    border: none;
    box-shadow: none;
    color: $text;
    transition: ease 0.5s;
}

@mixin card ($background, $text, $hover-color) {
    background-color: $background;
    color: $text;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: ease 0.5s;

    &:hover {
        color: $hover-color;
        transition: color 0.5s;
    }
}

@mixin button ($background) {
    color: map-get($themes, "white");
    border: none;
    background-color: $background;
    text-align: center;
    cursor: pointer;
    transition: ease 0.5s;
    width: fit-content;

    &:hover {
        color: map-get($themes, "off-white");
    }
}

@mixin accordion ($background) {
    height: 60px;
    box-shadow: none;
    padding: 15px;
    text-align: left;
    width: 100%;
    background-color: $background;
}

@mixin container () {
    
}

@mixin textBox () {

}

$light-mode: #FBFBFB, #7A7A7A;

$dark-mode: #172A3A, #E1E1E1;

$light-mode-card: #F7EDE2, #7A7A7A, #395c6b;

$dark-mode-card: #395C6B, #FBFBFB, #E1E1E1;

// title
// icon