@use "base.scss";

.menu.light-mode {
    @include base.theme(base.$light-mode...);
    
    .card-body {
        @include base.card(base.$light-mode-card...);
    }

    .icon {
        stroke: map-get(base.$themes, "blue");
    }

}

.menu.dark-mode {
    @include base.theme(base.$dark-mode...);
    
    .card-body, .modal-content {
        @include base.card(base.$dark-mode-card...);
    }

    .icon {
        stroke: map-get(base.$themes, "beige");
    }

}

.menu {
    padding-top: 20px;
    
    .card-body {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        height: 400px;
        text-align: center;

        .card-title, .card-details, .card-img  {
            text-align: center;
            margin-bottom: 10px;
        }
        
        .card-text {
            margin-bottom: 0;
        }

        .icon {
            height: 60%;
            width: 90%;
        }

    }
    
    .card-body.default-cursor {
        cursor: default;
    }
    
    .actions {
        justify-content: center;
        .btn {
            @include base.button(map-get(base.$themes, "green"))
        }

    }
}