@use "base.scss";

.menu.light-mode {
    @include base.theme(base.$light-mode...);
    
    .card-body, .modal-content {
        @include base.card(base.$light-mode-card...);
        background-image: linear-gradient(map-get(base.$themes, "off-white") 60%, map-get(base.$themes, "light-yellow") 50%);
    }

    .icon {
        // stroke: map-get(base.$themes, "blue");
        fill: map-get(base.$themes, "beige");
    }

}

.menu.dark-mode {
    @include base.theme(base.$dark-mode...);
    
    .card-body, .modal-content {
        @include base.card(base.$dark-mode-card...);
        background-image: linear-gradient(map-get(base.$themes, "blue") 60%, map-get(base.$themes, "mid-blue") 50%);;
    }

    .icon {
        // stroke: map-get(base.$themes, "beige");
        fill: map-get(base.$themes, "navy");
    }

}

.menu {
    .card-col {
        height: 50vh;
    }

    // card
    .card-body {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 12px;
        text-align: center;
        height: 95%;

        .card-title  {
            text-align: center;
            margin-bottom: 10px;
            display: flex;
            padding: 0 10%;
            justify-content: space-between;
            font-weight: 600;
            margin-top: 16px;
        }

        .card-details {
            text-align: left;
            padding: 16px 10%;
            line-height: 80%;


            .ingredients {
                font-style: italic;
                line-height: 150%;
            }
        }
        
        .card-image {
            height: 60%;
            width: 100%;
            border-radius: 12px 12px 0 0;

            .icon {
                height: 95%;
                width: 95%;
            }

        }

    }
    
    .card-body.default-cursor {
        cursor: default;
    }
    
    .actions {
        justify-content: center;
    }
}