@use "base.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.light-mode.navbar {
    @include base.theme(base.$light-mode...);
    border-bottom: 1.5px solid map-get(base.$themes, "off-white");

    .navbar-brand, .icon, .nav-link{
        color: map-get(base.$themes, "light-grey");
        fill: map-get(base.$themes, "light-grey");
    }

    .active {
        border-bottom: 2px solid map-get(base.$themes, "blue");
        color: map-get(base.$themes, "blue");
    }
}


.dark-mode.navbar {
    @include base.theme(base.$dark-mode...);
    border-bottom: 1.5px solid map-get(base.$themes, "blue");

    .navbar-brand, .icon, .nav-link{
        color: map-get(base.$themes, "beige");
        fill: map-get(base.$themes, "beige");
    }

    .active {
        border-bottom: 2px solid map-get(base.$themes, "yellow");
        color: map-get(base.$themes, "yellow");
    }

}

.navbar {

    .container-fluid {
        padding-left: 5%;
        padding-right: 5%;
    }

    .navbar-nav {
        width: 100%;
    }

    // Brand
    .navbar-brand:hover, .nav-link:hover {
        color: map-get(base.$themes, "blue");
        transition: color 0.5s;

        .icon {
            fill: map-get(base.$themes, "blue");
            transition: fill 0.5s;
        }

    }

    .icon:hover {
        fill: map-get(base.$themes, "blue");
        transition: fill 0.5s;
    }

    .navbar-brand {
        border: none;
        cursor: pointer;
        font-family: 'Dosis', sans-serif;
        text-decoration: underline dotted;
        text-underline-offset: 8px;
    
        .logo {
            height: 44px;
            width: 44px;
            margin-left: 10px;
        }
    }
    
    // Links
    .nav-link{
        padding: 4px;
        width: fit-content;
        margin: auto;
    }

    // Collapsed menu
    .navbar-toggler, .navbar-toggler:focus {
        width: 60px;
        border: none;
        box-shadow: none;
        cursor: pointer;
    }
    
    .navbar-collapse {
        justify-content: space-around;
        text-align: center;
    }
    

    // Theme button
    .theme-toggle, .theme-toggle:focus {
        background-color: transparent;
    }
    
    @keyframes fade-in {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    
    @keyframes fade-out {
        from {opacity: 1;}
        to {opacity: 0;}
    }
    
    .theme-toggle.btn.btn-primary {
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
        position: relative;
        
        
        .theme-icon {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 24px;
            height: 24px;
            
            
            &.light {
                fill: map-get(base.$themes, "yellow");
                transition: 0.5s ease;
    
                &:hover {
                    fill: map-get(base.$themes , "blue");
                }
            }
    
            &.dark {
                fill: map-get(base.$themes, "white"); 
                transition: 0.5s ease;
                &:hover {
                    fill: map-get(base.$themes , "yellow");
                }
                
            }
    
            &.fade-in {
                animation: fade-in 1.5s ease;
            }
    
            &.fade-out {
                display: none;
                animation: fade-out 1.5s ease;
            }
    
        }
    }

}    

