@use "base.scss";

.profile.light-mode {
    @include base.theme(base.$light-mode...);
}

.profile.dark-mode {
    @include base.theme(base.$dark-mode...);
}


.profile {

    // Table
    tr {
        height: 50px;
    }

    .title {
        margin-top: 20px;
    }

    .key {
        font-weight: 600;
    }

    .profile-image, .profile-details {
        margin-top: 20px;
    }

    .profile-image > img {
        width: 250px;
        height: 250px;
    }

    .profile-image {
        text-align: center;
    }

    .profile-details {
        color: inherit;
    }

    // Inputs
    .form-select {
        background-color: inherit;
        color: inherit;
    }

    // Validation
    .error {
        color: map-get(base.$themes, "red");
        padding: 10px 10%;

        ul {
            margin: 0;
        }
    }

}